.DS_Store
.ccache/
.ci-tools/
.nx/*
!.nx/version-plans/
!.nx/version-plans/*.md
.pnpm-store/
.vercel
build/
coverage/
dist/
native-artifacts/
npm/
docs-site/.next/
docs-site/.source/
docs-site/next-env.d.ts
docs-site/out/
node_modules/
*.tsbuildinfo
src/wasm/
test-tarballs.json
tests/out/
*.node
*.profraw
